body{width:100%!important}
.row{margin-bottom:15px!important}
.w-100{width:100%!important}
.w-95{width:95%!important}
.w-90{width:90%!important}
.w-85{width:85%!important}
.w-80{width:80%!important}
.w-75{width:75%!important}
.w-70{width:70%!important}
.w-65{width:65%!important}
.w-60{width:60%!important}
.w-55{width:55%!important}
.w-50{width:50%!important}
.w-47{width:47%!important}
.w-45{width:45%!important}
.w-40{width:40%!important}
.w-35{width:35%!important}
.w-30{width:30%!important}
.w-25{width:25%!important}
.w-20{width:20%!important}
.w-15{width:15%!important}
.w-10{width:10%!important}
.p-t-0{padding-top:0!important}
.p-r-0{padding-right:0!important}
.p-l-0{padding-left:0!important}
.p-b-0{padding-bottom:0!important}
.p-0{padding:0!important}
.p-t-5{padding-top:5px!important}
.p-r-5{padding-right:5px!important}
.p-l-5{padding-left:5px!important}
.p-b-5{padding-bottom:5px!important}
.p-5{padding:7.5px!important}
.p-t-7-5{padding-top:7.5px!important}
.p-r-7-5{padding-right:7.5px!important}
.p-l-7-5{padding-left:7.5px!important}
.p-b-7-5{padding-bottom:7.5px!important}
.p-7-5{padding:7.5px!important}
.p-t-10{padding-top:10px!important}
.p-r-10{padding-right:10px!important}
.p-l-10{padding-left:10px!important}
.p-b-10{padding-bottom:10px!important}
.p-10{padding:10px!important}
.p-t-15{padding-top:15px!important}
.p-r-15{padding-right:15px!important}
.p-l-15{padding-left:15px!important}
.p-b-15{padding-bottom:15px!important}
.p-15{padding:15px!important}
.p-t-20{padding-top:20px!important}
.p-r-20{padding-right:20px!important}
.p-l-20{padding-left:20px!important}
.p-b-20{padding-bottom:20px!important}
.p-20{padding:20px!important}
.p-t-25{padding-top:25px!important}
.p-r-25{padding-right:25px!important}
.p-l-25{padding-left:25px!important}
.p-b-25{padding-bottom:25px!important}
.p-25{padding:25px!important}
.p-t-30{padding-top:30px!important}
.p-t-33{padding-top:33px!important}
.p-t-32{padding-top:32px!important}
.p-r-30{padding-right:30px!important}
.p-l-30{padding-left:30px!important}
.p-b-30{padding-bottom:30px!important}
.p-30{padding:30px!important}
.p-t-35{padding-top:35px!important}
.p-r-35{padding-right:35px!important}
.p-l-35{padding-left:35px!important}
.p-b-35{padding-bottom:35px!important}
.p-35{padding:35px!important}
.p-t-40{padding-top:40px!important}
.p-r-40{padding-right:40px!important}
.p-l-40{padding-left:40px!important}
.p-b-40{padding-bottom:40px!important}
.p-40{padding:40px!important}
.p-t-45{padding-top:45px!important}
.p-r-45{padding-right:45px!important}
.p-l-45{padding-left:45px!important}
.p-b-45{padding-bottom:45px!important}
.p-45{padding:45px!important}
.p-t-50{padding-top:50px!important}
.p-r-50{padding-right:50px!important}
.p-l-50{padding-left:50px!important}
.p-b-50{padding-bottom:50px!important}
.p-50{padding:50px!important}
.p-t-55{padding-top:55px!important}
.p-r-55{padding-right:55px!important}
.p-l-55{padding-left:55px!important}
.p-b-55{padding-bottom:55px!important}
.p-55{padding:55px!important}
.p-t-60{padding-top:60px!important}
.p-r-60{padding-right:60px!important}
.p-l-60{padding-left:60px!important}
.p-b-60{padding-bottom:60px!important}
.p-60{padding:60px!important}
.p-t-65{padding-top:65px!important}
.p-r-65{padding-right:65px!important}
.p-l-65{padding-left:65px!important}
.p-b-65{padding-bottom:65px!important}
.p-65{padding:65px!important}
.p-t-70{padding-top:70px!important}
.p-r-70{padding-right:70px!important}
.p-l-70{padding-left:70px!important}
.p-b-70{padding-bottom:70px!important}
.p-70{padding:70px!important}
.p-t-75{padding-top:75px!important}
.p-r-75{padding-right:75px!important}
.p-l-75{padding-left:75px!important}
.p-b-75{padding-bottom:75px!important}
.p-75{padding:75px!important}
.p-t-80{padding-top:80px!important}
.p-r-80{padding-right:80px!important}
.p-l-80{padding-left:80px!important}
.p-b-80{padding-bottom:80px!important}
.p-80{padding:80px!important}
.p-t-85{padding-top:85px!important}
.p-r-85{padding-right:85px!important}
.p-l-85{padding-left:85px!important}
.p-b-85{padding-bottom:85px!important}
.p-85{padding:85px!important}
.p-t-90{padding-top:90px!important}
.p-r-90{padding-right:90px!important}
.p-l-90{padding-left:90px!important}
.p-b-90{padding-bottom:90px!important}
.p-90{padding:90px!important}
.p-t-95{padding-top:95px!important}
.p-r-95{padding-right:95px!important}
.p-l-95{padding-left:95px!important}
.p-b-95{padding-bottom:95px!important}
.p-95{padding:95px!important}
.p-t-100{padding-top:100px!important}
.p-r-100{padding-right:100px!important}
.p-l-100{padding-left:100px!important}
.p-b-100{padding-bottom:100px!important}
.p-100{padding:100px!important}
.m-t-0{margin-top:0!important}
.m-r-0{margin-right:0!important}
.m-l-0{margin-left:0!important}
.m-b-0{margin-bottom:0!important}
.m-0{margin:0!important}
.m-t-5{margin-top:5px!important}
.m-r-5{margin-right:5px!important}
.m-l-5{margin-left:5px!important}
.m-b-5{margin-bottom:5px!important}
.m-5{margin:5px!important}
.m-t-10{margin-top:10px!important}
.m-r-10{margin-right:10px!important}
.m-l-10{margin-left:10px!important}
.m-b-10{margin-bottom:10px!important}
.m-10{margin:10px!important}
.m-t-12{margin-top:12px!important}
.m-r-12{margin-right:12px!important}
.m-l-12{margin-left:12px!important}
.m-b-12{margin-bottom:12px!important}
.m-12{margin:12px!important}
.m-t-13{margin-top:13px!important}
.m-r-13{margin-right:13px!important}
.m-l-13{margin-left:13px!important}
.m-b-13{margin-bottom:13px!important}
.m-13{margin:13px!important}
.m-t-15{margin-top:15px!important}
.m-r-15{margin-right:15px!important}
.m-l-15{margin-left:15px!important}
.m-b-15{margin-bottom:15px!important}
.m-15{margin:15px!important}
.m-t-18{margin-top:18px!important}
.m-r-18{margin-right:18px!important}
.m-l-18{margin-left:18px!important}
.m-b-18{margin-bottom:18px!important}
.m-18{margin:18px!important}
.m-t-20{margin-top:20px!important}
.m-r-20{margin-right:20px!important}
.m-l-20{margin-left:20px!important}
.m-b-20{margin-bottom:20px!important}
.m-20{margin:20px!important}
.m-t-25{margin-top:25px!important}
.m-r-25{margin-right:25px!important}
.m-l-25{margin-left:25px!important}
.m-b-25{margin-bottom:25px!important}
.m-25{margin:25px!important}
.m-t-30{margin-top:30px!important}
.m-r-30{margin-right:30px!important}
.m-l-30{margin-left:30px!important}
.m-b-30{margin-bottom:30px!important}
.m-30{margin:30px!important}
.m-t-35{margin-top:35px!important}
.m-r-35{margin-right:35px!important}
.m-l-35{margin-left:35px!important}
.m-b-35{margin-bottom:35px!important}
.m-35{margin:35px!important}
.m-t-40{margin-top:40px!important}
.m-r-40{margin-right:40px!important}
.m-l-40{margin-left:40px!important}
.m-b-40{margin-bottom:40px!important}
.m-40{margin:40px!important}
.m-t-45{margin-top:45px!important}
.m-r-45{margin-right:45px!important}
.m-l-45{margin-left:45px!important}
.m-b-45{margin-bottom:45px!important}
.m-45{margin:45px!important}
.m-t-50{margin-top:50px!important}
.m-r-50{margin-right:50px!important}
.m-l-50{margin-left:50px!important}
.m-b-50{margin-bottom:50px!important}
.m-50{margin:50px!important}
.m-t-55{margin-top:55px!important}
.m-r-55{margin-right:55px!important}
.m-l-55{margin-left:55px!important}
.m-b-55{margin-bottom:55px!important}
.m-55{margin:55px!important}
.m-t-60{margin-top:60px!important}
.m-r-60{margin-right:60px!important}
.m-l-60{margin-left:60px!important}
.m-b-60{margin-bottom:60px!important}
.m-60{margin:60px!important}
.m-t-65{margin-top:65px!important}
.m-r-65{margin-right:65px!important}
.m-l-65{margin-left:65px!important}
.m-b-65{margin-bottom:65px!important}
.m-65{margin:65px!important}
.m-t-70{margin-top:70px!important}
.m-r-70{margin-right:70px!important}
.m-l-70{margin-left:70px!important}
.m-b-70{margin-bottom:70px!important}
.m-70{margin:70px!important}
.m-t-75{margin-top:75px!important}
.m-r-75{margin-right:75px!important}
.m-l-75{margin-left:75px!important}
.m-b-75{margin-bottom:75px!important}
.m-t-80{margin-top:80px!important}
.m-r-80{margin-right:80px!important}
.m-l-80{margin-left:80px!important}
.m-b-80{margin-bottom:80px!important}
.m-t-85{margin-top:85px!important}
.m-r-85{margin-right:85px!important}
.m-l-85{margin-left:85px!important}
.m-b-85{margin-bottom:85px!important}
.m-t-90{margin-top:90px!important}
.m-r-90{margin-right:90px!important}
.m-l-90{margin-left:90px!important}
.m-b-90{margin-bottom:90px!important}
.m-t-95{margin-top:95px!important}
.m-r-95{margin-right:95px!important}
.m-l-95{margin-left:95px!important}
.m-b-95{margin-bottom:95px!important}
.m-t-100{margin-top:100px!important}
.m-r-100{margin-right:100px!important}
.m-l-100{margin-left:100px!important}
.m-b-100{margin-bottom:100px!important}
.m-t-105{margin-top:105px!important}
.m-r-105{margin-right:105px!important}
.m-l-105{margin-left:105px!important}
.m-b-105{margin-bottom:105px!important}
.m-t-110{margin-top:110px!important}
.m-r-110{margin-right:110px!important}
.m-l-110{margin-left:110px!important}
.m-b-110{margin-bottom:110px!important}
.text-right{text-align:right!important}
.text-left{text-align:left!important}
.text-center{text-align:center!important}

.modal-header{background:#ba0000;color:#fff}
.panel-principal{border-color:#BBBCBD}
.panel-principal>.panel-heading{color:#8d3937;border-left:1px solid #a3a3a3;border-top:1px solid #a3a3a3;border-right:1px solid #a3a3a3;padding:10px 15px;font-size:18px;font-weight:500;background-color:#fff;text-transform:uppercase}
.panel-principal>.panel-heading>span{font-size:14px}
.panel-principal>.panel-body{background:#FFF;border-top:2px solid #a94442;border-left:1px solid #a3a3a3;border-bottom:1px solid #a3a3a3;border-right:1px solid #a3a3a3}
.panel-secundario{border-color:#BBBCBD!important}
.panel-secundario>.panel-heading{color:#323232;background-color:#ebebeb;border-color:#BBBCBD;padding:6px 15px;font-size:13px;font-weight:600}
.panel-secundario>.panel-heading>span{font-size:14px}
.panel-secundario>.panel-body{background:#FFF;padding:15px}
.panel-oscuro{border-color:#C4CACE;margin:15px}
.panel-oscuro>.panel-heading{color:#fff;background-color:#666;border-color:#C4CACE;padding:10px 15px;font-weight:600;font-size:14px}
.panel-oscuro>.panel-heading>span{font-size:12px}
.panel-oscuro>.panel-body{background:#FFF;padding:15px!important}
.panel-oscuro>.panel-body>.row>div{padding-bottom:0}
.panel-titulo>.panel-heading{color:#FFF;background-color:#FCDB77;border-color:#D7B306;font-size:13px;padding:8px 15px}
.panel-titulo>.panel-body{padding:12px;background-color:#FFF;border:1px solid #C2C4C5}
.seccion_titulo{width:100%;background-color:#999;border:solid 1px #999;color:#fff;font-size:12px;margin-bottom:8px;padding:1px 15px 1px 25px}
.inner-title{margin-bottom:12px}
.informa{background:#F4F4F4;border-bottom:1px solid #CDCDCD;border-right:1px solid #CDCDCD;border-top:1px solid #CDCDCD;padding:40px}
.informa>span.titulo{color:#333;font-size:17px;font-weight:700}
.informa>span.fa-stack.fa-2x{float:left}
.informa>span.contenido{line-height:17px}
.modal-content>.modal-header>span.TituloModal{font-size:15px;padding-top:2px;padding-left:2px;font-weight:700;color:#565246}
.modal-informa>.modal-dialog>.modal-content>.modal-header{background:#09A5D2;padding:5px;color:#fff;text-align:center;font-size:14px;font-weight:700}
.modal-informa>.modal-dialog>.modal-content>.modal-body{border:1px solid #F1F1EC;color:#333}
.lblTitulo{color:#161616;font-size:15px;font-weight:700;vertical-align:middle}
.lblsubtitulo{color:#333;font-size:13px;font-weight:700}
.lblconfirma{text-align:justify}
label.ticket{background:#eeaeb3!important;border:solid 1px #e78e94!important;width:140px!important;color:#000!important}
span.entypo-ticket.icon.ticket_ico{background:#eeaeb3!important;border:solid 1px #e78e94!important;color:#d31616!important}
.list-group-item.alert-pasos,.list-group-item.alert-info:first-child,.list-group-item.alert-advertencia:first-child,.list-group-item.alert-error:first-child,.alert-importante{border-radius:5px;padding:7px 11px 8px;margin-bottom:12px}
.alert-importante{border:1px solid #E6C879!important;background:#FFF7DD!important;text-align:center;color:#3A3A3A}
.alert-pasos{color:#000;background-color:#F4F5F7;border-color:#8e8e8e;margin-bottom:10px;border-radius:5px;padding:11px}
.alert-pasos>i{color:#E02520;font-size:23px;float:inherit}
.alert-pasos>span{font-weight:700}
div.aviso>.alert-info{color:#1F7994;background-color:#D5EFF7;border-color:#B0DBE1;margin-bottom:5px}
div.aviso>.alert-info>i{color:#28A7CC;font-size:23px;float:inherit}
div.aviso>.alert-info>.close,div.aviso>.alert-advertencia>.close,div.aviso>.alert-error>.close{color:#6B787C;opacity:1;padding-right:20px;padding-top:2px}
div.aviso>div.alert-advertencia{color:#7E6003!important;background-color:#FEF2CD!important;border-color:#E4E2B1!important;margin-bottom:5px}
div.aviso>div.alert-advertencia>i{color:#7E6003!important;font-size:23px;float:inherit}
div.aviso>div.alert-error{color:#B14D47!important;background-color:#F0DEDE!important;border-color:#E8CCD1!important;margin-bottom:5px}
div.aviso>div.alert-error>i{color:#B32828!important;font-size:23px;float:inherit}
.grid_celeste{color:#fff;font-weight:700;background-color:#43A0BF;border-color:#43A0BF;padding:10px;border-top-left-radius:6px;border-top-right-radius:6px}
.grid_titulo_2{color:#fff;font-weight:700;background-color:#43A0BF;border-color:#3d95b2;padding:10px;border-top-left-radius:6px;border-top-right-radius:6px}
.grid_gris{color:#fff;font-weight:700;background-color:#616161;border-color:#616161;padding:10px;border-top-left-radius:6px;border-top-right-radius:6px}
.fileUpload{position:relative;overflow:hidden;margin:10px}
.fileUpload input.upload{position:absolute;top:0;right:0;margin:0;padding:0;font-size:20px;cursor:pointer;opacity:0;filter:alpha(opacity=0)}
.div_oculto{display:none}
.div_visualiza{display:block}
.dato_superior{height:38px;float:right;padding:8px 0;color:#AEE1F0}
.dato_superior>list-group>a>i{color:#AEE1F0}
.form_titulos{color:#333;display:inline-block;max-width:100%;margin-bottom:3px;font-weight:600}
.btn_acero{background:linear-gradient(to bottom,#656A7C 0%,#656A7C 50%,#494C5A 51%,#494C5A 100%);background-color:#6c7785;border:solid 1px #494C5A;color:#FFF;padding-left:15px;padding-right:15px;font-size:12px}
.btn_acero>i{color:#FFF;margin-right:8px}
.btn_acero:hover{background:linear-gradient(to bottom,#a1a4b2 0%,#969aaa 50%,#8b8fa1 51%,#808598 100%);background-color:#808598;background-color:#808598;color:#ecedf0}
.btn_rojo{background:linear-gradient(to bottom,#D64550 0%,#D64550 50%,#BA2B36 51%,#BA2B36 100%);background-color:#BA2B36;border:solid 1px #D22D39;color:#FFF;padding-left:15px;padding-right:15px;font-size:12px}
.btn_rojo>i{color:#FFF;margin-right:8px}
.btn_rojo:hover{background:linear-gradient(to bottom,#ea9ea4 0%,#ea9ea4 50%,#e37e85 51%,#e37e85 100%);background-color:#e37e85;border-color:#e78e94;background-color:#e37e85;color:#ecedf0}
.btn_mostaza{background:linear-gradient(to bottom,#fcdb77 0%,#fcdb77 50%,#fbd151 51%,#fbd151 100%);background-color:#FCDB77;border:solid 1px #fbd151;color:#40310c;padding-left:15px;padding-right:15px;font-size:12px}
.btn_mostaza>i{color:#40310c;margin-right:8px}
.btn_mostaza:hover{background:linear-gradient(to bottom,#fcd664 0%,#fcd664 50%,#fbcc3e 51%,#fbcc3e 100%);background-color:#fcd664;border-color:#f8bc05;background-color:#f8bc05;color:#40310c}
.btn_grisc{background:linear-gradient(to bottom,#FFF 0%,#FFF 50%,#F5F5F5 51%,#DFDFDF 100%);background-color:#DFDFDF;border:solid 1px #D5D5D5;color:#40310c;font-size:12px;line-height:12px;height:65px;width:100px;padding:5px;margin:5px;border-radius:1px}
.btn_grisc>i{color:#E30519;font-size:18px;margin:5px 0}
.btn_grisc:hover{background:linear-gradient(to bottom,#d5d5d5 0%,#c2c2c2 50%,#c2c2c2 51%,#b8b8b8 100%);background-color:#cbcbcb;border-color:#c2c2c2;background-color:#cbcbcb;color:#40310c}
.btn-edit{background:#525252;color:#fff;height:30px;border-radius:0}
.btn-edit>i{font-size:18px}
.btn_buscar{width:26px;height:26px;background:linear-gradient(to bottom,#d94d57 0%,#d94d57 50%,#D22D39 51%,#D22D39 100%);background-color:#D22D39;border:solid 1px #D22D39;color:#FFF;float:right}
.btn_buscar>span{font-size:12px}
.btn_buscar:hover{background:linear-gradient(to bottom,#e38f95 0%,#e38f95 50%,#db6f78 51%,#db6f78 100%);background-color:#db6f78;border-color:#df7f86;color:#ecedf0}
table#table_busqueda{margin-bottom:0}
.dataTables_wrapper{border-radius:4px}

.interna{background-color:#FCDB77!important;height:70px}
.highlight{font-weight:600}
.btn-default,.btn-default:focus{color:#0a0a0a;background-color:#fff;border-color:rgba(98,98,98,0.27)}
.btn-default.active,.btn-default:active,.btn-default.active:focus,.btn-default:active:focus,.btn-default:active:hover{background-color:#f0f0f0;border-color:#e6e6e6;color:#0a0a0a}
.btn-default.hover,.btn-default:hover{background-color:#fafafa;border-color:rgba(98,98,98,0.27);color:#0a0a0a}
.btn-default.active:hover{background:#f0f0f0}
.btnxs{font-size:18px;padding:3px 6px}
.btnxl{min-width:140px}
.btn-red{color:#FFF;background-color:#ca312c;border:1px solid #ca312c;border-radius:2px}
.btn-red:hover,.btn-red:active,.btn-red.hover{background-color:#ba2d28}
.btn-white{color:#0a0a0a;background-color:#FFF;border:1px solid #CDCDCD;border-radius:2px}
.btn-white:hover,.btn-white:active,.btn-white.hover{background-color:#eee}
.btn-file{color:#fff;background-color:#337ab7;border-color:#2e6da4;border-radius:4px!important}
.btn-file:focus,.btn-file.focus{color:#fff;background-color:#286090;border-color:#122b40}
.btn-file:hover{color:#fff;background-color:#286090;border-color:#204d74}
.btn-file:active,.btn-file.active,.open>.dropdown-toggle.btn-file{color:#fff;background-color:#286090;border-color:#204d74}
.btn-file:active:hover,.btn-file.active:hover,.open>.dropdown-toggle.btn-file:hover,.btn-file:active:focus,.btn-file.active:focus,.open>.dropdown-toggle.btn-file:focus,.btn-file:active.focus,.btn-file.active.focus,.open>.dropdown-toggle.btn-file.focus{color:#fff;background-color:#204d74;border-color:#122b40}
.btn-file:active,.btn-file.active,.open>.dropdown-toggle.btn-file{background-image:none}
.btn-file.disabled:hover,.btn-file[disabled]:hover,fieldset[disabled] .btn-file:hover,.btn-file.disabled:focus,.btn-file[disabled]:focus,fieldset[disabled] .btn-file:focus,.btn-file.disabled.focus,.btn-file[disabled].focus,fieldset[disabled] .btn-file.focus{background-color:#337ab7;border-color:#2e6da4}
.btn-file .badge{color:#337ab7;background-color:#fff}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;text-align:right;filter:alpha(opacity=0);opacity:0;cursor:inherit;display:block}
.btn_acero{background:linear-gradient(to bottom,#656A7C 0%,#656A7C 50%,#494C5A 51%,#494C5A 100%);background-color:#6c7785;border:solid 1px #494C5A;color:#FFF;padding-left:15px;padding-right:15px;font-size:12px}
.chk_btn{vertical-align:middle;height:14px}
.panel{background-color:transparent;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
.panel-body{padding:15px}
.panel-heading{padding:10px 15px;border-bottom:1px solid transparent;border-top-left-radius:3px;border-top-right-radius:3px}
.panel-heading >.dropdown .dropdown-toggle{color:inherit}
.panel-title{margin-top:0;margin-bottom:0;font-size:16px;color:inherit}
.panel-title >a{color:inherit}
.panel-footer{padding:10px 15px;background-color:#f5f5f5;border-top:1px solid #ddd;border-bottom-right-radius:3px;border-bottom-left-radius:3px}
.panel >.list-group{margin-bottom:0}
.panel >.list-group .list-group-item{border-width:1px 0;border-radius:0}
.panel >.list-group:first-child .list-group-item:first-child{border-top:0;border-top-left-radius:3px;border-top-right-radius:3px}
.panel >.list-group:last-child .list-group-item:last-child{border-bottom:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px}
.panel-heading+.list-group .list-group-item:first-child{border-top-width:0}
.list-group+.panel-footer{border-top-width:0}
.panel >.table,.panel >.table-responsive >.table,.panel >.panel-collapse >.table{margin-bottom:0}
.panel >.table:first-child,.panel >.table-responsive:first-child >.table:first-child{border-top-left-radius:3px;border-top-right-radius:3px}
.panel >.table:first-child >thead:first-child >tr:first-child td:first-child,.panel >.table-responsive:first-child >.table:first-child >thead:first-child >tr:first-child td:first-child,.panel >.table:first-child >tbody:first-child >tr:first-child td:first-child,.panel >.table-responsive:first-child >.table:first-child >tbody:first-child >tr:first-child td:first-child,.panel >.table:first-child >thead:first-child >tr:first-child th:first-child,.panel >.table-responsive:first-child >.table:first-child >thead:first-child >tr:first-child th:first-child,.panel >.table:first-child >tbody:first-child >tr:first-child th:first-child,.panel >.table-responsive:first-child >.table:first-child >tbody:first-child >tr:first-child th:first-child{border-top-left-radius:3px}
.panel >.table:first-child >thead:first-child >tr:first-child td:last-child,.panel >.table-responsive:first-child >.table:first-child >thead:first-child >tr:first-child td:last-child,.panel >.table:first-child >tbody:first-child >tr:first-child td:last-child,.panel >.table-responsive:first-child >.table:first-child >tbody:first-child >tr:first-child td:last-child,.panel >.table:first-child >thead:first-child >tr:first-child th:last-child,.panel >.table-responsive:first-child >.table:first-child >thead:first-child >tr:first-child th:last-child,.panel >.table:first-child >tbody:first-child >tr:first-child th:last-child,.panel >.table-responsive:first-child >.table:first-child >tbody:first-child >tr:first-child th:last-child{border-top-right-radius:3px}
.panel >.table:last-child,.panel >.table-responsive:last-child >.table:last-child{border-bottom-right-radius:3px;border-bottom-left-radius:3px}
.panel >.table:last-child >tbody:last-child >tr:last-child td:first-child,.panel >.table-responsive:last-child >.table:last-child >tbody:last-child >tr:last-child td:first-child,.panel >.table:last-child >tfoot:last-child >tr:last-child td:first-child,.panel >.table-responsive:last-child >.table:last-child >tfoot:last-child >tr:last-child td:first-child,.panel >.table:last-child >tbody:last-child >tr:last-child th:first-child,.panel >.table-responsive:last-child >.table:last-child >tbody:last-child >tr:last-child th:first-child,.panel >.table:last-child >tfoot:last-child >tr:last-child th:first-child,.panel >.table-responsive:last-child >.table:last-child >tfoot:last-child >tr:last-child th:first-child{border-bottom-left-radius:3px}
.panel >.table:last-child >tbody:last-child >tr:last-child td:last-child,.panel >.table-responsive:last-child >.table:last-child >tbody:last-child >tr:last-child td:last-child,.panel >.table:last-child >tfoot:last-child >tr:last-child td:last-child,.panel >.table-responsive:last-child >.table:last-child >tfoot:last-child >tr:last-child td:last-child,.panel >.table:last-child >tbody:last-child >tr:last-child th:last-child,.panel >.table-responsive:last-child >.table:last-child >tbody:last-child >tr:last-child th:last-child,.panel >.table:last-child >tfoot:last-child >tr:last-child th:last-child,.panel >.table-responsive:last-child >.table:last-child >tfoot:last-child >tr:last-child th:last-child{border-bottom-right-radius:3px}
.file-upload{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:1px solid #ccc;border-width:1px;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.5),inset 0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 0 rgba(255,255,255,0.5),inset 0 1px 1px rgba(0,0,0,0.1);box-shadow:0 1px 0 rgba(255,255,255,0.5),inset 0 1px 1px rgba(0,0,0,0.1);cursor:pointer!important;color:#333;display:inline-block;font-size:14px;line-height:normal;text-shadow:0 1px 1px rgba(255,255,255,0.75);background:#ddd}
.file-upload:hover{background:#ddd}
.file-upload{height:26px}
.file-upload,.file-upload span{width:33px}
.file-upload input{top:0;left:0;margin:-20px;font-size:11px;font-weight:700;opacity:0;filter:alpha(opacity=0)}
.file-upload strong{font:normal 12px Tahoma,sans-serif;text-align:center;vertical-align:middle}
.file-upload span{top:0;left:0;display:inline-block;padding-top:4px}
.hdmodal{background-color:#a94442!important;color:#fff!important}
.btnxs{font-size:18px;padding:3px 6px}
.btnxl{min-width:140px}
.LinkButton{border:0;background-color:transparent;color:#337ab7;text-align:left;height:25px}
.LinkButton:hover,.LinkButton:focus,.LinkButton:active,.LinkButton.active,.open .dropdown-toggle.LinkButton{text-decoration:underline;color:#204d74}
.LinkButton:active,.LinkButton.active,.open .dropdown-toggle.LinkButton{background-image:none}
.LinkButton.disabled,.LinkButton[disabled],fieldset[disabled] .LinkButton,.LinkButton.disabled:hover,.LinkButton[disabled]:hover,fieldset[disabled] .LinkButton:hover,.LinkButton.disabled:focus,.LinkButton[disabled]:focus,fieldset[disabled] .LinkButton:focus,.LinkButton.disabled:active,.LinkButton[disabled]:active,fieldset[disabled] .LinkButton:active,.LinkButton.disabled.active,.LinkButton[disabled].active,fieldset[disabled] .LinkButton.active{text-decoration:underline;color:#204d74}
.TitleRight{position:relative;top:-32px;float:right!important}
.btn-documentos{min-width:150px;margin:0px}
.TitleNota{color:#204d74;font-size:11px}
.navbar-inner{background:#ba0000!important;border-top:1px solid rgba(255,255,255,.2);box-shadow:0 -1px 0 rgba(0,0,0,.2)}
.table thead th{background-color:#d8d8d8!important;vertical-align:middle!important;text-transform:uppercase;font-weight: 500;font-size: 16px;}
.navbar-btn{font-size:12px;font-weight:700;color:#fff!important;text-transform:uppercase}
.input-group .form-control{z-index:0}
.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{z-index:0}
.col-md-y{width:49%!important;float:right!important}
.col-md-x{width:49%!important;float:left!important}
.img-responsive{width:100%;max-width:400px;height:auto}
.titulo-splash{bottom:35%!important;color:#fff;left:80px;font-size:60px}
.l50p{width:50%!important}
.l49p{width:49%!important}
.icono_gris1 i{color:#c5b4d4;font-size:35px;font-weight:100}
.btn-pdf-circular{background:#ecacaa;width:67px;height:66px;border-radius:50%}
.btn-pdf-circular img{margin:0 auto;margin-top:3px}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon.m-nav__link-icon-alt .m-nav__link-icon-wrapper{background:#868686 none repeat scroll 0 0;border:1px solid #868686}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon.m-nav__link-icon-alt .m-nav__link-icon-wrapper>i{color:#FFF}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon .m-nav__link-icon-wrapper{width:3rem;height:3rem;border-radius:50%;display:flex;justify-content:center;align-items:center;text-align:center;vertical-align:middle;border:1px solid #E8E7F4}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item{padding:0 5px}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__usericon .m-nav__link-icon-wrapper{background:#d3433a none repeat scroll 0 0;border:1px solid #d3433a}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__usericon .m-nav__link-icon-wrapper>i{color:#FFF}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon.m-nav__link-icon-alt .m-nav__link-icon-amarillo2{background:#868686 none repeat scroll 0 0;border:1px solid #868686}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon.m-nav__link-icon-alt .m-nav__link-icon-amarillo2>i{color:#FFF}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon .m-nav__link-icon-amarillo2{width:3rem;height:3rem;border-radius:50%;display:flex;justify-content:center;align-items:center;text-align:center;vertical-align:middle;border:1px solid #E8E7F4}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__user-sistema .m-nav__link-icon-amarillo2{background:#fec574 none repeat scroll 0 0;border:1px solid #fec574}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__user-sistema .m-nav__link-icon-amarillo2>i{color:#FFF}
.usuario-gris-g i{font-size:50px;color:#838594}
.webcajas-ico .col-xl-7{padding-right:0}
.webcajas-ico .col-xl-5{padding-left:0}
.movil-porlet{display:none;visibility:hidden}
.web-porlet{display:block;visibility:visible}
.icono-cgr{width:100%!important;display:none;visibility:hidden}
.m-aside-left--minimize .icono-cgr{display:block!important;visibility:visible!important;width:100%!important}
.m-aside-left--minimize .icono-cgr img{position:fixed;bottom:0;margin-bottom:5px;text-align:center!important}
.modal-header{background:#d3433a;border-bottom:1px solid #d3433a}
.modal .modal-content .modal-header{padding:20px}
.modal .modal-content .modal-header .modal-title{color:#fff}
.modal-header .m-demo-icon__preview i{color:#fff;font-size:25px;margin-right:10px;line-height:15px}
.modal-title{line-height:29px}
.modal-header .close{color:#FFF;text-shadow:0 1px 0 #000;line-height:21px!important}
.M-W-600{max-width:600px!important}
.M-W-700{max-width:700px!important}
.M-W-800{max-width:800px!important}
.M-W-900{max-width:900px!important}
.M-W-1000{max-width:1000px!important}
*{box-sizing:border-box;margin:0}
section.intro{width:100%}
.area-cubos{right:0!important;width:60%;position:absolute;top:40%;z-index:10}
.hex-bg-big-text{position:absolute;z-index:-1;height:100%;width:100%}
.hoverblock{position:absolute;top:0;left:0;width:100%;height:100%}
.hover-notify{position:absolute;bottom:-80px;left:0;width:100%;text-align:center;font-size:50px}
.code-display{float:left;color:#f6f6f6;width:100%!important;height:260px}
.code-display h1{color:#333}
.code-description{width:90%;height:100%;color:#333}
.code-description *{display:none}
.code-description>div{padding:0 25px;font-size:13px;font-weight:400;border-left:1px solid #fff;border-bottom:1px solid #fff;padding-bottom:15px;margin-left:98px!important}
.desc-active{display:block;position:relative}
.desc-active>p{display:block;margin:0}
.desc-active a{display:block;margin:0}
.desc-active a img{display:block;margin-top:15px}
.desc-active>p>span{display:inline-block;width:125px}
p.code-title{position:relative;font-size:17px;font-weight:600}
.desc-active::after{position:absolute;height:100%;width:100%;top:0;left:0;content:"";opacity:.2;z-index:-1}
.m-widget19 .m-widget19__pic span.logo-sistema{position:absolute;display:block;z-index:1;top:110px;right:80px}
.r-tabs{position:relative}
.r-tabs .r-tabs-nav .r-tabs-tab{position:relative;top:1px}
.r-tabs .r-tabs-nav .r-tabs-anchor{margin-bottom:3px;padding:10px 12px;display:inline-block;text-decoration:none;color:#fff;font-weight:700}
.r-tabs .r-tabs-nav .r-tabs-state-active{margin-bottom:-1px}
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor{color:#0ad}
.r-tabs .r-tabs-panel{margin-bottom:3px}
.r-tabs .r-tabs-accordion-title .r-tabs-anchor{display:block;padding:10px;color:#fff;font-weight:700;text-decoration:none;margin-bottom:3px}
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor{color:#0ad;margin-bottom:0}
.r-tabs .r-tabs-nav{margin:0;padding:0}
.r-tabs .r-tabs-tab{display:inline-block;margin:0;list-style:none}
.r-tabs .r-tabs-panel{padding:15px;display:none}
.r-tabs .r-tabs-accordion-title{display:none}
.r-tabs .r-tabs-panel.r-tabs-state-active{display:block;padding-top:15px!important;margin-left:25px;border-left:1px solid #fff;border-bottom:1px solid #fff;margin-top:85px;width:90%}
.tooltip_info{color:#36a3f7;font-size:18px;cursor:pointer}
.tooltip_warning{color:#ffc241;font-size:18px;cursor:pointer}
.img-responsive{width:100%;max-width:350px;height:auto;}
.m-brand__toggler--active {padding-left: 10px !important;}
.bold{font-weight: bold !important;}
.tblblTitulo{font-size:18px;}
.tblblSubtitulo{font-size:16px;}
.tblblPregunta{font-size:14px;}
.tblblDescripcion{font-size:12px;}
.LinkButton{cursor: pointer;}

@media all and (-ms-high-contrast:none) {
div.aviso>.alert-info>.close,div.aviso>.alert-advertencia>.close,div.aviso>.alert-error>.close{color:#6B787C;opacity:1;padding-right:20px;padding-top:2px}
::-ms-backdrop,div.aviso>.alert-info>.close,::-ms-backdrop,div.aviso>.alert-advertencia>.close,::-ms-backdrop,div.aviso>.alert-error>.close{color:#6B787C;opacity:1;padding-right:20px;padding-top:2px}
}

@media all and (min-width:0px) and (max-width:990px) {
.col-md-y{width:100%!important;float:left!important}
.col-md-x{width:100%!important;float:left!important}
}

@media only screen and (min-width : 1279px) {
.r-tabs .r-tabs-panel.r-tabs-state-active{margin-top:40px}
.code-description > div{font-size:12px;font-weight:400;margin-left:68px!important}
.m-widget19 .m-widget19__pic .m-widget19__title{position:absolute;left:30px;font-size:40px!important}
}

@media only screen and (min-width : 1440px) {
.r-tabs .r-tabs-panel.r-tabs-state-active{margin-top:40px}
.code-description > div{font-size:12px;font-weight:400;margin-left:68px!important}
.m-widget19 .m-widget19__pic .m-widget19__title{position:absolute;left:30px}
}

@media only screen and (min-width : 1824px) {
.r-tabs .r-tabs-panel.r-tabs-state-active{margin-top:120px}
}

@media only screen and (max-width:768px) {
.r-tabs .r-tabs-nav{display:none}
.m-widget19 .m-widget19__pic .m-widget19__title{position:static;width:100%!important;color:#474747!important;z-index:5;font-size:40px;text-align:center;padding-top:30px}
.r-tabs .r-tabs-accordion-title{display:block}
.r-tabs .r-tabs-accordion-title a{text-align:center}
}

@media only screen and (min-device-width : 481px) and (max-device-width : 580px) {
.btn-documentos{margin:5px}
.img-responsive{padding-bottom:20px;height:300px;width:300px;}
#ddlProcesos{width:100%!important}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.btn-documentos{margin:5px}
.img-responsive{padding-bottom:15px;height:250px;width:250px;}
#ddlProcesos{width:100%!important}
.m-brand{width:100%!important}
.logooperativo{float:right}
#m_header_nav h3{font-size:13px;line-height:18px;float:right;display:contents}
#m_header_nav img{float:left;max-width:30%;position:relative;top:-10px;left:-10px}
.m-subheader .m-subheader__title{font-size:22px}
.mr-auto p{font-size:13px;line-height:18px}
.total-oper{margin-left:0;margin-right:0;height:auto;padding-bottom:15px}
.btn{margin-top:10px}
.bk-form1{padding-top:0!important}
#ac_layer_y{max-width:100%!important}
.m-portlet .m-portlet__head{padding-top:25px;padding-bottom:25px}
.ficha2 .m-widget14 .m-widget14__chart img.ico2lineas{margin-top:inherit!important;float:left}
.ficha2 .m-widget14 .m-widget14__chart h4{margin-bottom:25px;float:right;width:60%}
#btngooglePhoto{display:table;vertical-align:middle;text-align:center;margin:0 auto}
#btncontraloriaTV{display:table;vertical-align:middle;text-align:center;margin:0 auto;margin-top:15px}
.bk-form2{margin-left:0;margin-right:0}
.col,.col-1,.col-2,.col-3{max-width:100%!important;display:table;flex:0 0 100%}
.icosolorojo{display:none;visibility:hidden}
.col-2 button{max-width:100%!important;display:table;width:100%}
.title-red{margin-left:-3px!important}
.bk-form3{margin-left:0;margin-right:0;margin-top:15px}
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title{padding-top:0!important}
#lstUO{display:grid}
.mapa-movil{display:none;visibility:hidden}
.tabla-movil .m-portlet__body{padding:0}
.tabla-movil .m-portlet__body .col-lg-12{padding-left:8px;padding-right:8px}
.form-group .form-group label{padding-bottom:0;margin-bottom:2px!important}
}